# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#images
*.png
*.jpeg
*.jpg
*.bmp

#data files
*.dat

#executables
webcam
a.out
ocrtest
edge
haar
main
vk

#qt files
virtual-keyboard.config
virtual-keyboard.creator
virtual-keyboard.creator.user
virtual-keyboard.files
virtual-keyboard.includes

